#main {
  width: 900px;
  overflow: auto;
  margin: 0 auto;
  padding: 2rem 2rem;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

.form-block {
  clear: both;
  margin-bottom: 20px;
}

.form-input {
  width: 280px;
}

.history-block {
  float: right;
  text-align: right;
}

.history-block span {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.info-block {
  float: left;
}

.info-block div {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

#info span {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

#map {
  width: 300px;
  vertical-align: top;
}

.history-block p {
  font-size: 2em;
}

.history-block p:link {
  color: blue;
}

.history-block p:visited {
  color: green;
}

.history-block p:hover {
  color: red;
  cursor: pointer;
}
